


body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin:auto;
    padding: 20px;
    background-color: #d7d7d7;
}

label{
    display:block;
    margin-bottom: 8px;
}

label, textarea{
    width: 100%;
    margin: 16px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 1%;
}
button{
    padding: 10px 15px;
    background-color: #4caf4c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 550px;
}

button:hover{
    background-color: #1a541a;

}